.card {
    position: relative;
    background-color: #000000c0;
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 0;
}

.headline {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 20px;
    color: white;
    font-size: 6rem;
    z-index: 1;
}

.image {
    position: inherit;
    width: 100%;
    height: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10%;
    opacity: 0;
    animation: fade 3s ease-in-out forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}