.image-border {
    position: inherit;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 25px;
    border-start-end-radius: 25%;
    border-start-start-radius: 25%;
    filter: grayscale(100%) contrast(40%) sepia(40%);
    z-index: 1;
}

.paragraph {
    word-wrap: break-word;
    text-align: center;
    justify-content: center;
}