body {
    margin: 10px;
    padding: 10px;

    background-color: #3c3c3c;
}

.container-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.content {
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: #f1c40f;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.content-wraper {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.floating-action-button {
    position: fixed;
    clip-path: circle();
    width: 80px;
    height: 80px;
    right: 1%;
    bottom: 1%;
    z-index: 10;
    background-color: cadetblue;
}

.floating-action-button img {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 11;
}